* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  background: lightgray;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: auto;
  background-color: transparent;
  line-height: 40px;
  height: 60px;
  padding-top: 10px;
}

.logo img {
  width: 60%;
}

.header.active {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/* .header.active a{
  color: black;
} */

.header_wrapper {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.hero_image {
  background-image: url(../images/hero_illustration.png), url(../images/background_second.jpg);
  background-position: right Top, left top;
  background-repeat: no-repeat, repeat;
  background-size: 900px, cover;
  min-height: 804px;
}

.hero_image_inner {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding-top: 100px;
}

.mb30{margin-bottom: 30px;}
.mb50{margin-bottom: 50px;}
.mb70{margin-bottom: 70px;}
.mb90{margin-bottom: 90px;}
.mb20{margin-bottom: 20px;}
.mb40{margin-bottom: 40px;}
.mb60{margin-bottom: 60px;}
.mb80{margin-bottom: 80px;}

header ul {
  list-style: none;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

header h1 {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

header li a {
  /* padding: 10px 20px; */
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
}

header .menu-icon {
  display: none;
}

.about {
  min-height: 600px;
}

.services {
  position: relative;
  bottom: 60px;
}

.inner_projects {}

.projects {
  min-height: 600px;
  margin-top: 80px;
}

.contact {
  min-height: 400px;
}

footer {
  background-color: #e5e7e9;
  color: #414141;
}

/* .hero_text{
    float: left;
    width: 50%;
  }
  .logo_main{
    float: right;
    width: 50%;
    text-align: center;
  } */

.nav_mu a {
  color: white;
    font-family: Rajdhani;
    font-weight: 600;
}

.fas {
  margin-bottom: 20px;
}

.hero_text h1 {
  font-family: Rajdhani;
  font-size: 56px;
  font-weight: 600;
  border-bottom: 2px solid;
  width: 437px;
}

.hero_text h4 {
  font-family: Rajdhani;
  font-size: 20px;
}

.hero_text h1, h4 {
  color: white;
}
.about h2, .projects h2, .contact h2{
  font-family: Rajdhani;
  font-weight: bold;
}
.footer_icon{
list-style: none;
}
.footer_icon li{
  float: left;
}
footer a{
color: #414141;
}
.copy_r{
clear: both;
}
.all_btn{
  background-color: #F76B1C;
  /* background-image: linear-gradient(to right, #FAD961 , #F76B1C); */
  border: none;
}
.all_btn:hover{
  background-color: white!important;
}
.radix{
  background-image: linear-gradient(#C5DE86,#A2C652);
}
.Glean{
  background-image: linear-gradient(#68E0CF,#429292);
}
.com{
  background-image: linear-gradient(#F77062,#FE5196);
}
.radix h2, .Glean h2{
font-family: Rajdhani;
font-weight: bold;
color: white;
text-transform:uppercase;
}
@media screen and (max-width:500px) {
  .logo {
    margin-left: 15px;
  }
  #closebtn {
    width: 50px;
    height: 50px;
    background: none;
    color: white;
    margin-right: 0px;
  }
  nav span.icon {
    position: absolute;
    right:0;
    top: 10px;
  }
.nav_mu a {
  font-size: 30px;
}
  span.icon {
    /* background-color: orange; */
    box-sizing: border-box;
    font-size: 29px;
    /* margin-top: 10px; */
    margin-right: 20px;
    /* padding: 10px; */
  }
  .icon a:link {
    color: White;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    /* text-align: center; */
    margin-top: 30px;
    color: white !important;
  }
  .overlay li {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    letter-spacing: 2px;
    line-height: 150%;
  }
  .logo img {
    width: 50%;
  }
  .logo_main img {
    width: 100%;
  }
  .hero_text {
    margin-top: 40px;
  }
  .hero_text h1 {
    font-family: Rajdhani;
    font-size: 42px;
    font-weight: 600;
    border-bottom: 2px solid;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    text-align:center;
  }
  .hero_text h4{
    font-family: Rajdhani;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
  }
  .hero_image {
    background-image: url(../images/hero_illustration.png), url(../images/background_second.jpg);
    background-position: -90px bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: 536px, cover;
    min-height: 650px;
  }
  .about,.projects{
    padding-top: 50px;
  }

.about h2, .projects h2,.contact h2 {
  font-size: 36px;
  text-align: center;
  width: 90%;
  margin: 20px auto 40px;
  letter-spacing: 1px;
}
.about h3{
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.about p{
  font-family: Rajdhani;
  font-size: 18px;
  line-height: 140%;
  text-align: justify;
  letter-spacing: 0.5px;
}
.catch_text{
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.2px;
}
footer{
  text-align: center;
  padding-top: 40px;
  height: 320px;
}
.footer_icon{
  width: 160px;
  margin: 0 auto;
  text-align: center;
}
.foo_quote{
  margin-bottom: 50px;
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.footer_icon li{
  width: 40px;
  display: inline-block;
}
.footer_icon li i{
  font-size: 24px;
}
.footer_icon li:nth-child(2) i{
  font-size: 22px;
}
.copy_r{
clear: both;
}
.projects{
  margin-bottom: 80px;
}
.proj_img {
  margin: auto;
  width: 100%;
}
.project_tem{
  padding-top: 100px;
  height: 950px;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 290px 660px;
}
.project_tem .Left_img{
  width: 95%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.project_tem .text_right{
width: 95%;
margin: 0 auto;
color: white;
}
.project_tem h2{
  font-size: 42px;
}
.text_right h2+p {
text-align: justify;
font-family: Rajdhani;
font-size: 18px;
font-weight:500;
letter-spacing: 1px;
}

.text_right ul{
width: 95%;
margin: 15px auto;
list-style: none;
display: inline-block;
font-family: Rajdhani;
font-size: 18px;
font-weight: 900;
}

.text_right ul li{
  float: left;
  margin: 10px 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.dot{
  height: 5px;
 width: 5px;
 background-color: white;
 border-radius: 50%;
 display: inline-block;
}
.text_right .avat{
clear:both;
width: 100%;
display: grid;
/* grid-template-columns: repeat(2, 1fr); */
grid-template-columns: 1fr;
grid-row-gap: 10px;
}
.avat img{
width: 50px;
}
.av_cont{
  display: grid;
  grid-template-columns:50px 200px;
  grid-column-gap: 10px;
  font-family: Rajdhani;
}
.av_cont h4{
  margin-bottom: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}
.av_cont p{
  font-weight: 500;
}
.vi_pro_link{
  font-family: Rajdhani;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom:2px solid white;
  width: 155px;
  margin-top: 30px;
}
.vi_pro_link a:link{
  color: white;
}


}

@media screen and (min-width:501px) and (max-width:768px) {
  .icon {
    display: none;
  }
  nav {
    float: right;
  }
  nav li {
    float: left;
  }
  header .menu {
    clear: none;
    max-height: none;
  }
  header li {
    float: left;
  }

  header h1{
  margin-left: 20px;
  }
  footer{
    height: 130px;
    padding-top: 30px;
  }
  footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  footer section div:nth-child(1){
    width: 300px;
  }
  footer section div:nth-child(2){
    width: 360px;
  }
  .footer_icon li{
    width: 40px;
    display: inline-block;
  }
  .footer_icon li i{
    font-size: 22px;
  }
  .footer_icon li:nth-child(2) i{
    font-size: 20px;
  }

/* Project page start */
.project_tem{
  padding-top: 130px;
  height: 700px;
  display: grid;
  grid-template-columns:50% 50%;
}
.project_tem .Left_img{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.Left_img img{
  max-width: 700px !important;
  position: relative;
  left: -350px;
}
.project_tem .text_right{
width: 95%;
margin: 0 auto;
color: white;
}
.project_tem h2{
  font-size: 42px;
}
.text_right h2+p {
text-align: justify;
font-family: Rajdhani;
font-size: 18px;
font-weight:500;
letter-spacing: 1px;
}

.text_right ul{
width: 95%;
margin: 15px auto;
list-style: none;
display: inline-block;
font-family: Rajdhani;
font-size: 18px;
font-weight: 900;
}

.text_right ul li{
  float: left;
  margin: 10px 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.dot{
  height: 5px;
 width: 5px;
 background-color: white;
 border-radius: 50%;
 display: inline-block;
}
.text_right .avat{
clear:both;
width: 100%;
display: grid;
/* grid-template-columns: repeat(2, 1fr); */
grid-template-columns: 1fr;
grid-row-gap: 10px;
}
.avat img{
width: 50px;
}
.av_cont{
  display: grid;
  grid-template-columns:50px 200px;
  grid-column-gap: 10px;
  font-family: Rajdhani;
}
.av_cont h4{
  margin-bottom: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}
.av_cont p{
  font-weight: 500;
}
.vi_pro_link{
  font-family: Rajdhani;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom:2px solid white;
  width: 155px;
  margin-top: 30px;
}
.vi_pro_link a:link{
  color: white;
}


}

@media screen and (min-width:769px) and (max-width:1200px) {
  .icon {
    display: none;
  }
  nav {
    float: right;
  }
  nav li {
    float: left;
  }
  header .menu {
    clear: none;
    max-height: none;
  }
  header li {
    float: left;
  }
  footer{
    height: 130px;
    padding-top: 30px;
  }
  footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  footer section div:nth-child(1){
    width: 300px;
  }
  footer section div:nth-child(2){
    width: 360px;
  }
  .footer_icon li{
    width: 40px;
    display: inline-block;
  }
  .footer_icon li i{
    font-size: 22px;
  }
  .footer_icon li:nth-child(2) i{
    font-size: 20px;
  }
  .logo {
    margin-left: 15px;
}



/* Project page start */
.project_tem{
  padding-top: 130px;
  height: 620px;
  display: grid;
  grid-template-columns:50% 50%;
}
.project_tem .Left_img{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.Left_img img{
  margin-top: 30px;
  max-width: 600px !important;
  position: relative;
  left: -120px;
}
.project_tem .text_right{
width: 95%;
margin: 0 auto;
color: white;
}
.project_tem h2{
  font-size: 42px;
}
.text_right h2+p {
text-align: justify;
font-family: Rajdhani;
font-size: 18px;
font-weight:500;
letter-spacing: 1px;
}

.text_right ul{
width: 95%;
margin: 15px auto;
list-style: none;
display: inline-block;
font-family: Rajdhani;
font-size: 18px;
font-weight: 900;
}

.text_right ul li{
  float: left;
  margin: 10px 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.dot{
  height: 5px;
 width: 5px;
 background-color: white;
 border-radius: 50%;
 display: inline-block;
}
.text_right .avat{
clear:both;
width: 100%;
display: grid;
/* grid-template-columns: repeat(2, 1fr); */
grid-template-columns:  1fr 1fr;
grid-row-gap: 10px;
}
.avat img{
width: 50px;
}
.av_cont{
  display: grid;
  grid-template-columns:50px 200px;
  grid-column-gap: 10px;
  font-family: Rajdhani;
}
.av_cont h4{
  margin-bottom: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}
.av_cont p{
  font-weight: 500;
}
.vi_pro_link{
  font-family: Rajdhani;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom:2px solid white;
  width: 155px;
  margin-top: 30px;
}
.vi_pro_link a:link{
  color: white;
}

}

@media screen and (min-width:1201px) {
  .icon {
    display: none;
  }
  nav {
    float: right;
  }
  nav li {
    float: left;
  }
  header .menu {
    clear: none;
    max-height: none;
  }
  header li {
    float: left;
  }
  .logo_main img {
    width: 45%;
  }
  .hero_text {
    padding-top: 120px;
  }
  .hero_text h1 {
    font-family: Rajdhani;
    font-size: 70px;
    font-weight: 600;
  }
  .bootLp {
    height: 800px;
    background: linear-gradient(to bottom right, #5AB78D, #86D1DB);
  }
  .project_row {
    height: 800px;
  }
  .left_side {
    display: flex;
    text-align: right;
  }
  .right_side {
    display: flex;
    z-index: 1;
  }
  .light {
    color: white;
    z-index: 100;
  }
  .bootLp img {
    height: 60%;
    width: auto;
    transform: translatex(-12vw);
  }
  .proj_img {
    margin: auto;
    width: 100%;
  }
  .proj_desc {
    text-align: left;
    width: 100%;
    margin: auto;
    margin-left: 0;
    padding: 80px;
  }
  .proj_title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .proj_bio {
    font-family: "Lato", sans-serif;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .proj_dates {
    font-family: "BebasNeueRegular", sans-serif;
    opacity: 0.6;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    margin-bottom: 80px;
    letter-spacing: 0.5px;
  }
  .proj_button {
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  footer{
    height: 130px;
    padding-top: 30px;
  }
  footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  footer section div:nth-child(1){
    width: 300px;
  }
  footer section div:nth-child(2){
    width: 360px;
  }
  .footer_icon li{
    width: 40px;
    display: inline-block;
  }
  .footer_icon li i{
    font-size: 22px;
  }
  .footer_icon li:nth-child(2) i{
    font-size: 20px;
  }
  /* Project page start */
  .project_tem{
    padding-top: 130px;
    height: 800px;
    display: grid;
    grid-template-columns:50% 40%;
  }
  .project_tem .Left_img{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .Left_img img{
    max-width: 900px !important;
    position: relative;
    left: -220px;
  }
  .project_tem .text_right{
  width: 95%;
  margin: 0 auto;
  color: white;
  padding-left: 80px;
  padding-top: 60px;
  }
  .project_tem h2{
    font-size: 42px;
  }
  .text_right h2+p {
  text-align: justify;
  font-family: Rajdhani;
  font-size: 18px;
  font-weight:500;
  letter-spacing: 1px;
  }

  .text_right ul{
  width: 95%;
  margin: 15px auto;
  list-style: none;
  display: inline-block;
  font-family: Rajdhani;
  font-size: 18px;
  font-weight: 900;
  }

  .text_right ul li{
    float: left;
    margin: 10px 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .dot{
    height: 5px;
   width: 5px;
   background-color: white;
   border-radius: 50%;
   display: inline-block;
  }
  .text_right .avat{
  clear:both;
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns:  1fr 1fr;
  grid-row-gap: 10px;
  }
  .avat img{
  width: 50px;
  }
  .av_cont{
    display: grid;
    grid-template-columns:50px 200px;
    grid-column-gap: 10px;
    font-family: Rajdhani;
  }
  .av_cont h4{
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .av_cont p{
    font-weight: 500;
  }
  .vi_pro_link{
    font-family: Rajdhani;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom:2px solid white;
    width: 155px;
    margin-top: 30px;
  }
  .vi_pro_link a:link{
    color: white;
  }



}
