*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
    background: lightgray;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;
    line-height: 40px;
    height: 60px;
    padding-top: 10px;
}
.logo img{
  width: 60%;
}

.header.active {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

}
/* .header.active a{
  color: black;
} */
.header_wrapper{
  width: 100%;
  max-width: 1080px;
  margin: auto;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}
.hero_image{
    background-image: url(../images/bg.jpg);
    background-position: 50%;
    background-size: cover;
    /* background-color: red; */
    min-height: 804px;
}
.hero_image_inner{
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding-top: 100px;
}
header ul{
  list-style: none;
  overflow: hidden;
  margin: 0!important;
  padding: 0 !important;
}
header h1{
  display: block;
 float: left;
 font-size: 2em;
 text-decoration: none;
}


  header li a {
    /* padding: 10px 20px; */
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
  }

  header .menu-icon {
    display: none;
  }
  .about{
    min-height: 600px;
  }

.services{
    position: relative;
    bottom: 60px;
  }
  .inner_projects{

  }
  .projects{
    min-height: 600px;
    margin-top: 80px;
  }
  .contact{
    min-height: 400px;
  }
  footer{
    height: 80px;
    background-color: #5E5E5E;
    color: white;
  }
  /* .hero_text{
    float: left;
    width: 50%;
  }
  .logo_main{
    float: right;
    width: 50%;
    text-align: center;
  } */


.nav_mu a {
    color: white;
    font-family: roboto;
}
.fas{
margin-bottom: 20px;
}
.hero_text h1{
  font-family: Rajdhani;
  font-size: 56px;
  font-weight: 600;
}
.hero_text h1, h4{
color: white;
}
@media screen and (max-width:500px){
.logo{margin-left: 15px;}
  #closebtn {
    width: 50px;
    height: 50px;
    background: none;
    color: white;
}
nav span.icon {
    position: absolute;
    right: 0;
    top: 10;
}
span.icon {
    /* background-color: orange; */
    box-sizing: border-box;
    font-size: 29px;
    /* margin-top: 10px; */
    margin-right: 20px;
    /* padding: 10px; */
}
a:link {
    /* color: White!important; */
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: white !important;
}
.overlay li {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    letter-spacing: 2px;
    line-height: 150%;
}
.nav_mu a {
    color: white;
    font-family: roboto;
}
.logo img {
    width: 50%;
}
.logo_main img{
  width: 25%;
}
}
@media screen and (min-width:501px) and (max-width:768px){
  .icon {
      display: none;
  }
}
@media screen and (min-width:769px) and (max-width:1200px){
  .icon {
      display: none;
  }
  header li {
      float: left;
    }
}
@media screen and (min-width:1201px){
  .icon {
      display: none;
  }
  nav{
    float: right;
  }
  nav li{
    float: left;
  }
  header .menu {
    clear: none;
    max-height: none;
  }
  header li {
      float: left;
    }
    .logo_main img{
      width: 45%;
    }
    .hero_text{
        padding-top: 120px;
    }
    .hero_text h1{
      font-family: Rajdhani;
      font-size: 70px;
      font-weight: 600;
    }
    .bootLp{
      height: 800px;
      background: linear-gradient(to bottom right, #5AB78D , #86D1DB);
    }
    .project_row {
    height: 800px;
    }
    .left_side {
    display: flex;
    text-align: right;
    }
    .right_side {
    display: flex;
    z-index: 1;
}
.light {
    color: white;
    z-index: 100;
}
.bootLp img {
    height: 60%;
    width: auto;
    transform: translatex(-12vw);
}
.proj_img {
    margin: auto;
    width: 100%;
}
.proj_desc {
    text-align: left;
    width: 100%;
    margin: auto;
    margin-left: 0;
    padding: 80px;
}
.proj_title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.proj_bio {
    font-family: "Lato", sans-serif;
    line-height: 30px;
    margin-bottom: 30px;
}
.proj_dates {
    font-family: "BebasNeueRegular", sans-serif;
    opacity: 0.6;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    margin-bottom: 80px;
    letter-spacing: 0.5px;
}
.proj_button {
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
}
